
/* Normal desktop :1500px. */
@media (min-width: 1500px) and (max-width: 1800px) {
  
.single-project-box:hover .project-content {
	top: 23%;
}



  

}



/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1600px) {

p.hero-desc {
	width: 33%;
}

h3.work-process-title::before {
	width: 62%;
}

.single-project-box:hover .project-content {
	top: 19%;
}

span.project-numbar {
	font-size: 88px;
}

h3.project-title a {
	width: 80%;
}

p.project-desc {
	width: 100%;
}

.testi-people-info {
	margin-right: 21px;
}

.testimonial-single-box {
	padding: 37px 57px 39px 22px;
}

.testi-icon {
	right: 1%;
}

.testi-icon img {
	width: 74%;
}

p.blog-desc {
	width: 101%;
}

.side_bar_blog p {
	font-size: 14px;
}

p.service-details-desc2 {
	font-size: 15px;
}

.tags a {
	padding: 0 9px;
}

ul.tabs.active {
	padding: 0 8px 0 0;
}

.style-three.tab .tabs li a {
	padding: 3px;
}

.service-content p {
	font-size: 14px;
}

.service-content {
	padding: 24px 19px 10px;
}

.service-icon {
	margin: 6px 16px 0 0;
}

.service-single-box:hover .service-btn {
	bottom: 43%;
}

.about-thumb {
	margin-left: 0;
}

.about-thumb img {
	width: 100%;
}

.faq-area .accordion li p {
	padding: 25px 20px 25px 22px;
	font-size: 15px;
}

.case-study-intro {
	padding: 38px;
}

.pricing-list ul li::before {
	width: 44%;
}







}









/* Normal desktop :1170px. */
@media (min-width: 1170px) and (max-width: 1199px) {
  
  
p.hero-desc {
	width: 40%;
	padding: 16px 0 35px;
}

.work-content {
	padding: 29px 0px 0 0;
}

.work-icon {
	bottom: -13%;
	right: 12%;
	width: 50px;
	height: 50px;
	line-height: 47px;
}

.work-icon img {
	width: 45%;
}

.work-process-single-box {
	margin: 0 10px 0 10px;
}

h3.work-process-title::before {
	width: 60%;
}

.project-content {
	padding: 0 20px 0;
}

span.project-numbar {
	font-size: 70px;
	margin-bottom: 36px;
}

h3.project-title a {
	width: 81%;
}

p.project-desc {
	width: 100%;
	padding: 3px 0 10px;
}

.single-project-box:hover .project-content {
	top: 14%;
}

.testimonial-single-box {
	padding: 37px 63px 37px 19px;
}

.testi-people-info {
	margin-right: 20px;
}

h3.testi-title {
	font-size: 18px;
}

p.testi-desc {
	font-size: 15px;
}

.testi-icon img {
	width: 70%;
}

.testi-icon {
	right: 0%;
}

.blog-content {
	padding: 31px 0px 0;
}

p.blog-desc {
	width: 93%;
	padding: 19px 0 16px;
}

.footer-widget-text p {
	width: 102%;
	padding: 24px 0 30px;
}

.form-field input {
	width: 61%;
}

p.service-details-desc {
	font-size: 14px;
}

p.service-details-desc2 {
	font-size: 13px;
}

.side_bar_blog {
	padding: 22px;
}

.side_bar_blog p {
	font-size: 14px;
}

.blog-description p {
	font-size: 15px;
}

.blog-details-inner p {
	font-size: 15px;
}

ul.tabs.active {
	padding: 0 32px 0 0;
}

.style-three.tab .tabs li a {
	padding: 0px 0 0;
	margin-bottom: 8px;
}

.appoinment-tab span.rights-reply {
	left: -159px;
	top: -80px;
}

.posts-reply p {
	font-size: 15px;
}

.category-description p {
	font-size: 15px;
}

.bestseller-thumb-icon ul li a {
	font-size: 18px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.product-item-title h2 {
	padding: 0 0 40px;
}

.service-content {
	padding: 24px 17px 10px;
}

.service-icon {
	float: left;
	margin: 25px 14px 0 0;
}

.service-single-box:hover .service-btn {
	bottom: 42%;
}

.about-thumb {
	margin-left: 0;
}

.about-thumb img {
	width: 100%;
}

h3.about-title {
	font-size: 16px;
	padding: 13px 0 7px;
}

p.about-desc {
	font-size: 14px;
}

.cda-content-area {
	padding: 57px 0 51px 47px;
}

.faq-area .accordion li p {
	padding: 25px 20px 25px 21px;
}

.faq-thumb {
	margin-left: 0;
}

.case-study-intro {
	padding: 30px;
}

.csd-info {
	padding: 0 0 0 14px;
}

.case-study-icon a i {
	font-size: 15px;
	width: 45px;
	height: 45px;
	line-height: 45px;
}

.pricing-body {
	padding: 36px 30px 44px;
}

.pricing-list ul li::before {
	width: 48%;
}

.team-social-icon ul li a i {
	margin-left: 4px;
}







  

}





/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {


.hero-area {
	height: 700px;
}

.header-search {
	margin-left: -98px;
}

.KUOQIE_menu > ul > li > a {
	margin: 36px 7px 22px;
}

p.hero-desc {
	width: 41%;
	padding: 16px 0 36px;
}

.work-content {
	padding: 29px 9px 0 0;
}

.work-icon {
	bottom: -14%;
	right: 9%;
	width: 50px;
	height: 50px;
	line-height: 47px;
}

.work-icon img {
	width: 51%;
}

.work-process-single-box {
	margin: 0 10px 0 10px;
}

h3.work-process-title::before {
	width: 60%;
}

.project-content {
	padding: 0 20px 0;
}

span.project-numbar {
	font-size: 70px;
	margin-bottom: 35px;
}

h3.project-title a {
	font-size: 20px;
	width: 71%;
}

p.project-desc {
	width: 100%;
	padding: 3px 0 7px;
	font-size: 15px;
}

.single-project-box:hover .project-content {
	top: 15%;
}

.testimonial-single-box {
	padding: 37px 40px 39px 18px;
}

.testi-people-info {
	margin-right: 20px;
}

h3.testi-title {
	font-size: 18px;
}

.testi-icon {
	right: 0%;
}

.testi-icon img {
	width: 70%;
}

.blog-content {
	padding: 31px 0 0;
}

p.blog-desc {
	width: 96%;
	padding: 19px 0 16px;
}

.footer-widget-text p {
	width: 102%;
	padding: 22px 0 23px;
}

.form-field input {
	width: 61%;
}



/*----inner-page-css----*/

.service-details-area {
	padding: 118px 0 89px;
}

p.service-details-desc {
	font-size: 14px;
}

p.service-details-desc2 {
	font-size: 13px;
}

.tags a {
	padding: 0 14px;
}

.blog-details-area {
	padding: 107px 0 90px;
}

.blog-description p {
	font-size: 15px;
}

.blog-details-inner p {
	font-size: 15px;
}

ul.tabs.active {
	padding: 0 2px 0 0;
}

.style-three.tab .tabs li a {
	padding: 6px;
	margin-bottom: 9px;
}

.category-description p {
	font-size: 15px;
}

.appoinment-tab span.rights-reply {
	left: -38%;
	top: -74px;
}

.post-comment-thumb img {
	width: 12%;
}

.post-comment-thumb {
	float: inherit;
	margin-right: 0;
}

.comment-icon-list ul {
	padding: 0;
	margin-top: 15px;
}

.post-title h4 {
	line-height: 13px;
	padding: 0 0 7px;
}

.posts-reply p {
	font-size: 15px;
}

.bestseller-thumb-icon ul li a {
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.service-content {
	padding: 24px 15px 10px;
}

.service-icon {
	margin: 25px 15px 0 0;
}

.service-single-box:hover .service-btn {
	bottom: 42%;
}

.about-thumb {
	margin-left: 0;
}

.about-thumb img {
	width: 100%;
}

h3.about-title {
	font-size: 16px;
}

p.about-desc {
	font-size: 14px;
}

.cda-content-area {
	padding: 57px 0 51px 47px;
}

.faq-thumb {
	margin-left: 0;
}

.case-study-intro {
	padding: 30px;
}

.csd-info {
	padding: 0 16px;
}

.case-study-icon a i {
	font-size: 15px;
	width: 45px;
	height: 45px;
	line-height: 45px;
}

.pricing-body {
	padding: 36px 29px 44px;
}

.pricing-list ul li::before {
	width: 48%;
}














}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.KUOQIE_nav_manu {
    display: none;
}

.header-top-area {
    display: none;
}

.sticky {
	padding: 0;
	position: relative !important;
}

.header-btn {
	display: none;
}

.hero-area {
	height: 700px;
}

p.hero-desc {
	width: 56%;
	padding: 16px 0 40px;
}

.section-title.text-center {
	margin-bottom: 80px;
}

.work-area {
	padding: 68px 0 40px;
}

p.work-desc {
	width: 99%;
}

.work-process-area {
	padding: 68px 0 78px;
}

.work-process-single-box {
	padding: 41px 0 49px;
	margin: 0 36px 122px 36px;
}

h3.work-process-title::before {
	width: 45%;
}

.work-process-numbar {
	top: -5%;
}

.portfolio_nav ul li {
	padding: 7px 16px;
}

.section-main-title h1 {
	font-size: 40px;
}

.project-area {
	padding: 68px 0 47px;
}

.project-content {
	padding: 0 22px 0;
}

span.project-numbar {
	font-size: 80px;
	margin-bottom: 38px;
}

h3.project-title a {
	font-size: 20px;
	line-height: 26px;
}

p.project-desc {
	width: 87%;
	padding: 3px 0 10px;
	font-size: 15px;
}

.single-project-box:hover .project-content {
	top: 19%;
}

.counter-area {
	padding: 64px 0 43px;
}

.testimonial-area {
	padding: 68px 0 78px;
}

.testi-people-info {
	margin-right: 30px;
}

.testimonial-single-box {
	padding: 37px 139px 39px 35px;
}

p.testi-desc {
	width: 95%;
}

.testi-icon {
	right: 6%;
}

.blog-area {
	padding: 68px 0 40px;
}

.blog-content {
	padding: 31px 0 0;
}

p.blog-desc {
	padding: 17px 0 18px;
}

.footer-area {
	padding: 78px 0 54px;
}

.footer-widget.left {
	padding-left: 0;
}

.footer-widget-text p {
	width: 100%;
	padding: 21px 0 23px;
}

.footer-widget-right-desc p {
	width: 78%;
}



/*----inner-page-css----*/

.service-details-area {
	padding: 78px 0 48px;
}

p.service-details-desc {
	font-size: 15px;
}

h3.service-details-title {
	font-size: 20px;
}

p.service-details-desc2 {
	font-size: 16px;
}

.service-details-box2 {
	margin-bottom: 30px;
}

.side_bar_blog {
	padding: 21px;
}

.side_bar_blog p {
	font-size: 14px;
}

.tags a {
	padding: 0 9px;
}

.blog-details-area {
	padding: 78px 0 80px;
}

.blog-meta span {
	margin-right: 16px;
}

.blog-meta span::before {
	right: -14px;
}

.blog-dtls-desc {
	padding: 24px 39px 24px 19px;
}

.blog-details-inner h3 {
	font-size: 25px;
}

.shop-area {
	padding: 78px 0 48px;
}

.products-detials.style-two {
	padding: 75px 0 50px;
}

.style-three.tab .tabs li a {
	padding: 5px;
	margin-bottom: 9px;
}

ul.tabs.active {
	padding: 0 0 0 0;
}

.category-title h2 {
	font-size: 30px;
	padding: 0px 0 12px;
}

.category-description p {
	padding: 8px 0 0px;
	font-size: 14px;
}

.category-button {
	padding-left: 12px;
}

.category-button a {
	padding: 14px 24px;
	font-size: 15px;
}

table.category-table tr td {
	padding-right: 21px;
}

.products-social-icon-list ul {
	padding: 0;
	margin: 0;
}

.post-comment-description p {
	font-size: 15px;
}

.appoinment-tab span.rights-reply {
	left: -146px;
	top: -98px;
}

.post-comment-thumb img {
	width: 15%;
}

.post-comment-thumb {
	float: inherit;
	margin-right: 0;
}

.comment-icon-list ul {
	padding: 0;
	margin-top: 15px;
}

.post-title h4 {
	line-height: 13px;
	padding: 0 0 7px;
}

.posts-reply p {
	font-size: 15px;
}

.service-area {
	padding: 78px 0 48px;
}

.service-icon {
	float: left;
	margin: 25px 18px 0 0;
}

.service-content {
	padding: 24px 16px 10px;
}

.service-single-box:hover .service-btn {
	bottom: 43%;
}

.about-area {
	padding: 73px 0 78px;
}

.about-single-box {
	margin-bottom: 30px;
}

.about-thumb {
	margin-left: 0;
}

.about-thumb img {
	width: 100%;
}

.contact-area {
	padding: 78px 0 78px;
}

.faq-area {
	padding: 74px 0 78px;
}

.faq-thumb {
	margin-left: 0;
	margin-top: 30px;
}

.faq-area .section-title.text-center {
	margin-bottom: 40px;
}

.case-study-details {
	padding: 78px 0 48px;
}

.case-study-intro {
	padding: 30px;
}

.csd-info {
	padding: 0 0;
}

.csd-info ul li {
	font-size: 16px;
}

.csd-info ul {
	padding: 13px 0 0;
	margin: 0;
}

.share-text h4 {
	margin-top: 16px;
}

.pricing-area {
	padding: 73px 0 48px;
}

.pricing-area .section-title.text-center {
	margin-bottom: 40px;
}

.pricing-list ul li::before {
	width: 48%;
}

.team-area {
	padding: 78px 0 48px;
}

.blog-grid-area {
    padding: 78px 0 43px;
}

.blog-list-area {
	padding: 78px 0 48px;
}

.blog-2column-area {
	padding: 78px 0 48px;
}









}

/* Large Mobile :600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {

.KUOQIE_nav_manu {
    display: none;
}

.header-top-area {
    display: none;
}

.sticky {
	padding: 0;
	position: relative !important;
}

.header-btn {
	display: none;
}

.hero-area {
	height: 600px;
}

h1.hero-main-title {
	font-size: 43px;
}

h5.hero-sub-title {
	margin-bottom: 15px;
}

p.hero-desc {
	width: 73%;
	padding: 14px 0 32px;
}

.hero-btn a {
	padding: 12px 35px 15px;
}

.section-title.text-center {
	margin-bottom: 80px;
}

.work-process-area {
	padding: 68px 0 78px;
}

.work-area {
	padding: 68px 0 42px;
}

.work-process-single-box {
	margin: 0 36px 117px 36px;
}

.work-process-numbar {
	top: -4%;
}

h3.work-process-title::before {
	width: 27%;
}

.project-area {
	padding: 68px 0 46px;
}

.portfolio_nav ul li {
	padding: 7px 9px;
	margin-right: 6px;
}

.section-main-title h1 {
	font-size: 40px;
}

.project-area .section-title.text-center {
	margin-bottom: 70px;
}

p.project-desc {
	width: 100%;
}

.single-project-box:hover .project-content {
	top: 31%;
}

.counter-area {
	padding: 64px 0 41px;
}

.testimonial-area {
	padding: 68px 0 78px;
}

.testimonial-single-box {
	padding: 37px 58px 36px 23px;
}

.testi-people-info {
	margin-right: 24px;
}

p.testi-desc {
	font-size: 15px;
	width: 102%;
}

.testi-icon {
	right: 3%;
}

.testi-icon img {
	width: 80%;
}

.blog-area {
	padding: 67px 0 43px;
}

.blog-content {
	padding: 31px 0 0;
}

p.blog-desc {
	width: 81%;
	padding: 19px 0 17px;
}

.footer-area {
	padding: 78px 0 36px;
}

.footer-widget.left {
	padding-left: 0;
}

.footer-widget-text p {
	padding: 24px 0 24px;
}

.footer-widget {
	margin-bottom: 35px;
}








/*----inner-page-css----*/
.service-details-area {
	padding: 78px 0 48px;
}

.service-details-icon img {
	width: 15%;
}

.service-details-box2 {
	margin-bottom: 30px;
}

.side_bar {
	padding-left: 0;
}

p.service-details-desc2 {
	width: 73%;
}

p.service-details-desc {
	font-size: 15px;
}

.tags a {
	padding: 0 11px;
	font-size: 15px;
}

.blog-details-area {
	padding: 78px 0 80px;
}


.shop-area {
	padding: 78px 0 48px;
}

.products-detials.style-two {
	padding: 74px 0 50px;
}

ul.tabs.active {
	padding: 0 8px 0 0;
}

.shop-details-content {
	margin: 20px 0 0;
}

.style-three.tab .tabs li a {
	padding: 0;
}

.category-title h2 {
	font-size: 30px;
	padding: 0px 0 13px;
}

.category-description p {
	padding: 7px 0 2px;
	font-size: 14px;
}

table.tab-items-table tr td {
	padding-right: 41px;
}

.post-comment-description p {
	font-size: 15px;
}

.appoinment-tab span.rights-reply {
	left: -230px;
	position: relative;
	font-size: 15px;
	top: -132px;
}

.sidebar-description p {
	font-size: 14px;
	margin: 10px 0 11px;
}

.product-details-respond .widget-comments-title h2 {
	padding: 6px 0 29px;
}

.product-item-title h2 {
	font-size: 32px;
	padding: 1px 0 25px;
}

.post-comment-thumb img {
	width: 20%;
}

.post-comment-thumb {
	float: inherit;
	margin-right: 0;
}

.comment-icon-list ul {
	padding: 0;
	margin-top: 15px;
}

.post-title h4 {
	line-height: 13px;
	padding: 0 0 7px;
}

.posts-reply p {
	font-size: 15px;
}

.service-area {
	padding: 78px 0 48px;
}

.service-single-box:hover .service-btn {
	bottom: 45%;
	opacity: 1;
}

.about-area {
	padding: 73px 0 78px;
}

.about-single-box {
	margin-bottom: 30px;
}

.about-thumb {
	margin-left: 0;
}

.about-thumb img {
	width: 100%;
}

p.about-desc {
	width: 67%;
}

.section-title-desc p {
	width: 93%;
}

.contact-area {
	padding: 78px 0 78px;
}

.faq-area {
	padding: 74px 0 78px;
}

.faq-thumb {
	margin-left: 0;
	margin-top: 30px;
}

.faq-area .section-title.text-center {
	margin-bottom: 40px;
}

.faq-area .section-main-title h1 {
	font-size: 41px;
}

.case-study-details {
	padding: 78px 0 48px;
}

.case-study-intro {
	padding: 30px;
}

.csd-info {
	padding: 29px 0 0;
}

.csd-info ul {
	padding: 13px 0 0;
	margin: 0;
}

.share-text h4 {
	margin-top: 16px;
}

.pricing-area {
	padding: 73px 0 48px;
}

.pricing-area .section-title.text-center {
	margin-bottom: 40px;
}

.pricing-list ul li::before {
	width: 27%;
}

.pricing-area .section-main-title h1 {
	font-size: 45px;
}

.team-area {
	padding: 78px 0 48px;
}

.blog-grid-area {
    padding: 78px 0 43px;
}

.blog-list-area {
	padding: 78px 0 48px;
}

.blog-2column-area {
	padding: 78px 0 48px;
}











}






/* small mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 599px) {

.KUOQIE_nav_manu {
    display: none;
}

.header-top-area {
    display: none;
}

.sticky {
	padding: 0;
	position: relative !important;
}

.hero-area {
	height: 600px;
}

.header-btn {
	display: none;
}

h1.hero-main-title {
	font-size: 37px;
}

p.hero-desc {
	width: 80%;
	padding: 13px 0 30px;
}

h5.hero-sub-title {
	margin-bottom: 20px;
}

.work-area {
	padding: 68px 0 41px;
}

.section-title.text-center {
	margin-bottom: 75px;
}

.work-process-area {
	padding: 68px 0 78px;
}

.work-icon {
	right: 10%;
}

p.work-desc {
	padding: 26px 0 15px;
	width: 96%;
}

h3.work-process-title::before {
	width: 31%;
}

.work-process-single-box {
	margin: 0 36px 123px 36px;
}

.work-process-numbar {
	top: -6%;
}

.portfolio_nav ul li {
	font-size: 14px;
	padding: 4px 9px 7px;
	margin-right: 4px;
}

.project-area .section-title.text-center {
	margin-bottom: 65px;
}

.portfolio_nav {
	margin-bottom: 35px;
}

.project-area {
	padding: 68px 0 48px;
}

p.project-desc {
	width: 100%;
}

.single-project-box:hover .project-content {
	top: 28%;
}

.counter-area {
	padding: 62px 0 42px;
}

.testimonial-single-box {
	padding: 37px 45px 39px 16px;
}

.testi-people-info {
	margin-right: 20px;
}

h3.testi-title {
	font-size: 18px;
}

p.testi-desc {
	font-size: 15px;
}

.testimonial-area {
	padding: 68px 0 78px;
}

.testi-icon {
	right: 1%;
}

.testi-icon img {
	width: 80%;
}

.blog-area {
	padding: 70px 0 40px;
}

.section-main-title h1 {
	font-size: 40px;
}

.KUOQIE-bar::before {
	width: 185px;
}

.KUOQIE-bar::after {
	width: 185px;
}

.footer-area {
	padding: 78px 0 38px;
}

.footer-widget {
	margin-bottom: 35px;
}

.footer-widget.left {
	padding-left: 0;
}

.footer-widget-text p {
	padding: 24px 0 23px;
}

.footer-widget-right-desc p {
	width: 64%;
}

.form-field input {
	width: 45%;
}



/*----inner-page-css----*/


.service-details-area {
	padding: 78px 0 48px;
}

.side_bar {
	padding-left: 0;
}

.service-details-box2 {
	margin-bottom: 30px;
}

.service-details-icon img {
	width: 15%;
}

p.service-details-desc2 {
	width: 85%;
}

.side_bar_blog p {
	font-size: 15px;
}

.blog-details-area {
	padding: 78px 0 80px;
}

.blog-dtls-desc {
	padding: 24px 39px 24px 20px;
}

.blog-details-inner p {
	font-size: 15px;
}

.blog-description p {
	font-size: 15px;
}

.shop-area {
	padding: 78px 0 48px;
}

.products-detials.style-two {
	padding: 74px 0 50px;
}

.style-three.tab .tabs li a {
	padding: 6px;
	margin-bottom: 9px;
}

.shop-details-content {
	margin: 20px 0 0;
}

ul.tabs.active {
	padding: 0 0 0 0;
}

.appoinment-tab .tabs li {
	margin-right: 7px;
}

.appoinment-tab .tabs li a {
	font-size: 17px;
}

.appoinment-tab .tab {
	padding: 17px 0 0;
}

.post-comment-description p {
	font-size: 14px;
	margin: 0;
}

.product-item-title h2 {
	font-size: 30px;
	padding: 0 0 26px;
}

.tabs_item {
	padding: 0 0 14px;
}

table.tab-items-table tr td {
	padding-right: 20px;
}

table.tab-items-table tr {
	padding: 19px 0 0 12px;
}

.post-comment-description p {
	font-size: 15px;
}

.appoinment-tab span.rights-reply {
	left: -159px;
	position: relative;
	top: -134px;
	font-size: 15px;
}

.post-comment-thumb img {
	width: 25%;
}

.post-comment-thumb {
	float: inherit;
	margin-right: 0;
}

.comment-icon-list ul {
	padding: 0;
	margin-top: 15px;
}

.post-title h4 {
	line-height: 13px;
	padding: 0 0 7px;
}

.posts-reply p {
	font-size: 15px;
}

.bestseller-thumb-icon ul li a {
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.sidebar-description p {
	margin: 12px 0 13px;
}

.product-details-respond .widget-comments-title h2 {
	padding: 2px 0 25px;
}

.category-description p {
	font-size: 15px;
}

.service-area {
	padding: 78px 0 48px;
}

.service-single-box:hover .service-btn {
	bottom: 45%;
}

.about-area {
	padding: 73px 0 78px;
}

.about-single-box {
	margin-bottom: 30px;
}

.about-thumb {
	margin-left: 0;
}

.about-thumb img {
	width: 100%;
}

p.about-desc {
	width: 67%;
}

.section-title-desc p {
	width: 93%;
}

.contact-area {
	padding: 78px 0 78px;
}

.faq-area {
	padding: 74px 0 78px;
}

.faq-thumb {
	margin-left: 0;
	margin-top: 30px;
}

.faq-area .section-title.text-center {
	margin-bottom: 40px;
}

.faq-area .section-main-title h1 {
	font-size: 34px;
}

.faq-area .accordion li p {
	padding: 25px 20px 25px 18px;
	font-size: 14px;
}

.case-study-details {
	padding: 78px 0 48px;
}

.case-study-intro {
	padding: 30px;
}

.csd-info {
	padding: 29px 0 0;
}

.csd-info ul {
	padding: 13px 0 0;
	margin: 0;
}

.share-text h4 {
	margin-top: 18px;
}

.pricing-area {
	padding: 73px 0 48px;
}

.pricing-area .section-title.text-center {
	margin-bottom: 40px;
}

.pricing-list ul li::before {
	width: 32%;
}

.pricing-area .section-main-title h1 {
	font-size: 35px;
}

.team-area {
	padding: 78px 0 48px;
}

.blog-grid-area {
    padding: 78px 0 43px;
}

.blog-list-area {
	padding: 78px 0 48px;
}

.blog-2column-area {
	padding: 78px 0 48px;
}















}











/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 479px) {

.KUOQIE_nav_manu {
    display: none;
}

.header-top-area {
    display: none;
}

.sticky {
	padding: 0;
	position: relative !important;
}

.header-btn {
	display: none;
}

.hero-area {
	height: 400px;
}

h5.hero-sub-title {
	font-size: 18px;
	margin-bottom: 20px;
}

h5.hero-sub-title::before {
	width: 61px;
	top: 12px;
	left: -70%;
}

h5.hero-sub-title::after {
	height: 8px;
	width: 8px;
	top: 9px;
	left: -14px;
}

h5.hero-sub-title span::before {
	height: 1px;
	width: 61px;
	top: 13px;
	right: -70%;
}

h5.hero-sub-title span::after {
	height: 8px;
	width: 8px;
	top: 10px;
	right: -15px;
}

h1.hero-main-title {
	font-size: 24px;
}

p.hero-desc {
	width: 86%;
	padding: 11px 0 25px;
}

.hero-btn a {
	padding: 9px 25px 12px;
}

.section-main-title h1 {
	font-size: 27px;
}

.KUOQIE-bar::before {
	width: 125px;
}

.KUOQIE-bar::after {
	width: 125px;
}

.work-area {
	padding: 74px 0 42px;
}

p.work-desc {
	font-size: 14px;
	padding: 26px 0 13px;
}

.work-icon {
	bottom: -13%;
	right: 10%;
	width: 50px;
	height: 50px;
	line-height: 46px;
}

.work-icon img {
	width: 50%;
}

.section-title.text-center {
	margin-bottom: 65px;
}

.work-process-area {
	padding: 72px 0 78px;
}

h3.work-process-title::before {
	width: 53%;
}

.work-process-single-box {
	margin: 0 36px 120px 36px;
}

.work-process-numbar {
	top: -5%;
}

.portfolio_nav ul li {
	padding: 7px 9px;
	margin-right: 7px;
	margin-bottom: 11px;
}

.project-area .section-title.text-center {
	margin-bottom: 63px;
}

.project-area {
	padding: 74px 0 48px;
}

.portfolio_nav {
	margin-bottom: 35px;
}

.project-content {
	padding: 0 20px 0;
}

span.project-numbar {
	font-size: 65px;
	margin-bottom: 30px;
}

h3.project-title a {
	font-size: 19px;
	width: 68%;
	line-height: 24px;
}

p.project-desc {
	width: 96%;
	padding: 3px 0 8px;
	font-size: 14px;
	line-height: 20px;
}

.single-project-box:hover .project-content {
	top: 18%;
}

.counter-area {
	padding: 66px 0 40px;
}

.counter-number h2 {
	font-size: 40px;
}

.testimonial-area {
	padding: 72px 0 78px;
}

.testimonial-single-box {
	padding: 28px 18px 29px;
	display: inherit;
	position: relative;
}

h3.testi-title {
	font-size: 19px;
}

.testi-people-content {
	text-align: left;
	margin-bottom: 20px;
}

.people-thumb {
	margin-bottom: 5px;
}

.testi-icon {
	position: absolute;
	right: 8%;
	top: 10%;
}

.blog-area {
	padding: 72px 0 41px;
}

.blog-content {
	padding: 31px 6px 0;
}

p.blog-desc {
	padding: 17px 0 15px;
}

.footer-area {
	padding: 78px 0 36px;
}

.footer-widget.left {
	padding-left: 0;
}

.form-field input {
	width: 61%;
}

.footer-widget {
	margin-bottom: 35px;
}

.footer-widget-text p {
	width: 86%;
	padding: 24px 0 22px;
}

.footer-widget-right-desc p {
	width: 94%;
}

















/*----inner-page-css----*/

.service-details-area {
	padding: 78px 0 48px;
}

.side_bar {
	padding-left: 0;
}

.service-details-box2 {
	margin-bottom: 30px;
}

.service-details-icon img {
	width: 15%;
}

p.service-details-desc2 {
	width: 85%;
}

.side_bar_blog p {
	font-size: 15px;
}

.side_bar_blog {
	padding: 22px;
}

.tags a {
	padding: 0 10px;
	font-size: 13px;
}

.blog-details-area {
	padding: 78px 0 80px;
}

.blog-meta span {
	font-size: 14px;
	margin-right: 10px;
	padding: 12px 0 6px;
}

.blog-meta span::before {
	display: none;
}

.blog-meta a {
	font-size: 14px;
}

.blog-description p {
	font-size: 15px;
}

.blog-dtls-desc {
	padding: 17px 39px 14px 20px;
	margin: 0 0 22px 0;
}

.blog-details-inner h3 {
	font-size: 21px;
}

.blog-details-inner p {
	font-size: 15px;
}

.blog-details-social-icon a i {
	margin: 0 6px 0 0;
}

.breatcome-title h1 {
	font-size: 42px;
}

.breatcome-area {
	height: 400px;
}

.shop-area {
	padding: 78px 0 48px;
}


.products-detials.style-two {
	padding: 74px 0 50px;
}

.style-three.tab .tabs li a {
	padding: 1px;
}

.shop-details-content {
	margin: 10px 0 0;
}

ul.tabs.active {
	padding: 0 50px 0 0;
}

.style-three.tab .tabs li a {
	padding: 0;
	margin-bottom: 9px;
}

.category-title h2 {
	font-size: 26px;
	padding: 8px 0 10px;
}

.category-description p {
	padding: 12px 0 2px;
	font-size: 14px;
}

.category-button {
	padding-left: 6px;
}

.category-button a {
	padding: 15px 17px;
	font-size: 14px;
}

table.category-table td.table-title {
	font-size: 14px;
}

table.category-table tr td {
	padding-right: 17px;
}

table.category-table td.table-text {
	font-size: 14px;
}

.appoinment-tab .tabs li {
	margin-right: 0;
}

.appoinment-tab .tabs li a {
	font-size: 16px;
	padding: 0px 16px;
	margin-bottom: 5px;
}

.appoinment-tab .tab {
	padding: 13px 0 0;
}

.post-comment-description p {
	font-size: 14px;
	margin: 0;
}

.product-item-title h2 {
	font-size: 30px;
	line-height: 17px;
	padding: 0 0 37px;
}

table.tab-items-table tr {
	padding: 8px 0 0 7px;
}

table.tab-items-table tr td {
	padding-right: 5px;
}

table.tab-items-table td.table-text {
	font-size: 14px;
}

table.tab-items-table td.table-text i {
	display: none;
}

table.tab-items-table tr {
	padding: 17px 0 0 12px;
}

.post-comment {
	padding: 30px 19px 25px;
}

table.tab-items-table td.table-title {
	font-size: 13px;
}


.post-comment-description p {
	font-size: 15px;
}

.appoinment-tab span.rights-reply {
	left: -32px;
	position: relative;
	top: -149px;
	font-size: 14px;
}

.post-comment-thumb img {
	width: 30%;
}

.post-comment-thumb {
	float: inherit;
	margin-right: 0;
}

.comment-icon-list ul {
	padding: 0;
	margin-top: 15px;
}

.post-title h4 {
	line-height: 4px;
	padding: 0 0 9px;
	font-size: 15px;
}

.posts-reply p {
	font-size: 14px;
}

.bestseller-thumb-icon ul li a {
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.sidebar-description p {
	margin: 12px 0 13px;
}

.product-details-respond .widget-comments-title h2 {
	padding: 2px 0 25px;
}

.service-area {
	padding: 78px 0 48px;
}

.service-content {
	padding: 24px 15px 10px;
}

.service-icon {
	margin: 25px 12px 0 0;
}

.service-single-box:hover .service-btn {
	bottom: 42%;
}

.about-area {
	padding: 73px 0 78px;
}

.about-single-box {
	margin-bottom: 30px;
}

.about-thumb {
	margin-left: 0;
}

.about-thumb img {
	width: 100%;
}

p.about-desc {
	width: 67%;
}

.contact-area {
	padding: 78px 0 78px;
}

.contact_from_box {
	padding: 37px 22px 45px;
}

.form_box input {
	margin-bottom: 20px;
}

.cda-content-area {
	padding: 1px 0 0 22px;
}

.faq-area {
	padding: 74px 0 78px;
}

.faq-thumb {
	margin-left: 0;
	margin-top: 30px;
}

.faq-area .section-title.text-center {
	margin-bottom: 40px;
}

.faq-area .section-main-title h1 {
	font-size: 24px;
}

.faq-area .accordion li p {
	padding: 25px 20px 25px 18px;
	font-size: 14px;
}

.accordion a::before {
	top: 35px;
}

.accordion a::after {
	top: 39px;
}

.case-study-details {
	padding: 78px 0 48px;
}

.case-study-intro {
	padding: 18px;
}

.csd-info strong {
	font-size: 15px;
}

.csd-info ul li {
	font-size: 14px;
}

.csd-info {
	padding: 29px 0 0;
}

.csd-info ul {
	padding: 13px 0 0;
	margin: 0;
}

.csd-info ul li {
	margin-bottom: 7px;
}

.share-text h4 {
	margin-top: 17px;
}

.csd-title h2 {
	margin-bottom: 10px;
}

.case-study-icon a i {
	font-size: 15px;
	width: 45px;
	height: 45px;
	line-height: 45px;
}

.pricing-area {
	padding: 73px 0 48px;
}

.pricing-area .section-title.text-center {
	margin-bottom: 40px;
}

.pricing-list ul li::before {
	width: 32%;
}

.pricing-area .section-main-title h1 {
	font-size: 35px;
}

.pricing-body {
	padding: 36px 31px 44px;
}

.pricing-list ul li::before {
	width: 49%;
}

.team-area {
	padding: 78px 0 48px;
}

.blog-grid-area {
    padding: 78px 0 43px;
}

.blog-list-area {
	padding: 78px 0 48px;
}

.blog-2column-area {
	padding: 78px 0 48px;
}












}



